body {
    background-color: #727272;
    height: 100%;
    width: 98%;
    margin: auto;
}

section {
    padding: 20px 30px 20px 30px;
    position: relative;
    height: 100vh;
}

.center {
    margin: 3% 5% 3% 5%;
    border-radius: 18px;
}

.backWhite {
    background-color: white
}

.heading {
    text-align: center;
}

#maintenance {
    background-color: white;
    position: absolute;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    /* Negative half of height. */
    margin-left: -250px;
    /* Negative half of width. */
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
    /* IE 9 */
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
    /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    /* Standard syntax */
}