body {
    background-color: #727272;
    height: 100%;
    width: 98%;
    margin: auto;
}

section {
    padding: 20px 30px 20px 30px;
    position: relative;
    height: 100vh;
}

.center {
    margin: 3% 5% 3% 5%;
    border-radius: 18px;
}

.backWhite {
    background-color: white
}

.heading {
    text-align: center;
}

#maintenance {
    background-color: white;
    position: fixed;
    height: 200px;
    top: 30%;
    /*below is edited*/
    width: 60vw;
    left: 20vw;
    right: 20vw;
    /*below is original*/
    /*
    width: 500px;
    max-width: 90vw;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;*/
    -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}